.btn-no {
  transition: all 0.4s ease;
}
@keyframes yesPop {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.yes-animate {
  animation: yesPop 0.6s ease;
}
.friend-text {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #0f172a;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}


